.order-headline {
  display: flex;
  justify-content: center;
}

.order-container {
  display: flex;
  justify-content: space-between;

  img {
    width: 100%;
  }
}

.order-btn-container {
  display: flex;
  justify-content: flex-end;
}

.quantity-burgers {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .quantity-burgers, .row.order-btn-container {
    justify-content: center;
  }
}